## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there dad!"
s=s.split()
print(s)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [56]:
s=print("The diameter of {Planet} is {diameter} Kilometers".format(Planet="Earth",diameter="12742"))

The diameter of Earth is 12742 Kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [55]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:

print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#	Lists are mutable Tuples are immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def website_domain(email):
  return email.split('@')[-1]

In [ ]:
website_domain("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def Dog(stmt):
    if 'dog' in stmt.lower():
        print("True")
    else:
        print("False")

In [ ]:
stmt = "there is a dog"
Dog(stmt)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def count(stmt):
  c=0
  for i in stmt.split():
    if i=='dog':
      c=c+1
  return c

In [ ]:
stmt = "there is a dog which is a dog"
count(stmt)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(100,False)

'Big Ticket'

In [ ]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
e_lst={'e1':12000,'e2':10000,'e3':8000,'e4':12500,'e5':7000}
for i in e_lst:
  print(i,e_lst[i])
b=sum(e_lst.values())
print('Expenditure=',b)

e1 12000
e2 10000
e3 8000
e4 12500
e5 7000
Expenditure= 49500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1={'Empid':101,'Empname':"THAYANANDA RAMANA",'Basicpay':12500}
d2={'Deptname':"ECE",'DeptId':12531}
print({**d1,**d2})

{'Empid': 101, 'Empname': 'THAYANANDA RAMANA', 'Basicpay': 12500, 'Deptname': 'ECE', 'DeptId': 12531}